/**
 * Forms
 * --------------------------------------------------
 */

// Make all forms have space below them
form {
  margin: 0 0 10px;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  padding: 0 $content-padding;
  color: $dark;
  font-size: $font-size-base;
  line-height: $line-height-base;

  small {
    color: $gray-light;
  }
}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include font-shorthand($font-size-base, normal, $line-height-base); // Set size, weight, line-height here
}
input,
button,
select,
textarea {
  font-family: $font-family-base; // And only set font-family here for those that need it (note the missing label element)
}

// Form Controls
// -------------------------------

// Shared size and type resets
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  margin-bottom: 15px;
  padding: 0 $content-padding;
  height: $line-height-computed + $input-font-size;

  @include appearance(none);
  background-color: #fff;
  color: $dark;
  vertical-align: middle;
  font-size: $input-font-size;
  border: $input-border-width solid $input-border;
  border-radius: $border-radius-base;
  line-height: $input-font-size + 4;
}

// Rounded search input
input[type="search"] {
  font-size: 16px;
  border-radius: 20px;
  // Override content-box in normalize
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Vertically align date input
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"] {
  line-height: $line-height-computed + $font-size-base;
}

input,
textarea {
  width: 100%;
}

// Reset height since textareas have rows
textarea {
  height: auto;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Make select elements obey height by applying a border
select {
  border: $input-border-width solid $input-border;
  background-color: $input-bg; // Chrome on Linux and Mobile Safari need background-color
}


// Placeholder
// -------------------------------
input,
textarea {
  @include placeholder();
}


// DISABLED STATE
// -------------------------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: $input-bg-disabled;
  cursor: not-allowed;
}
// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
// Add textarea vertical padding
textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

// Form group
// -------------------------------

.form-group {

  .form-control {
    margin-top: -1px;
    margin-bottom: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  > .form-control {
    height: $line-height-computed + $input-font-size + $padding-base-vertical * 2;
  }
}

.input-group {
  position: relative;
  margin-top: -1px;
  padding: $padding-base-vertical 0;
  border-top: $input-border-width solid $input-border;
  border-bottom: $input-border-width solid $input-border;

  &:first-child {
    margin-top: 0;
  }

  .form-control {
    margin: 0;
    border: none;
    height: $line-height-computed + $input-font-size - 2;

    &:first-child {
      padding-right: $content-padding * 2 + $input-font-size * 2;
    }

    &:last-child {
      padding-left: $content-padding * 2 + $input-font-size * 3;
    }
  }

  label {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    font-size: $input-font-size;

    &:first-child {
      left: $content-padding;
    }

    &:last-child {
      right: $content-padding;
    }
  }

  label.wide + .form-control {
    &:first-child {
      padding-right: $content-padding * 2 + $input-font-size * 3;
    }

    &:last-child {
      padding-left: $content-padding * 2 + $input-font-size * 4;
    }
  }
}

// Form select
// -------------------------------

.item-select select {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  text-indent: 0.01px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

// Form search
// -------------------------------

.search-group {
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .icon-search {
    display: table-cell;
    float: left;
  }

  .icon-search:before {
    padding: 5px 0;
    height: 34px;
    background-size: contain;
  }

  input {
    display: table-cell;
    width: 90%;
    border: none;
    height: 32px;
  }
}

