// Forms
// ==========================================================================

// Make legend visually hidden on page
// Note: do not recommend render form with default legend style on mobile

legend {
  width: 0px;
  height: 1px;
  overflow: hidden;
}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include font-shorthand($font-size-base, normal, $line-height-base); // Set size, weight, line-height here
}

// Form Controls
// --------------------------------------------------

// Shared size and type resets

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
  height: $line-height-computed + $input-font-size;

  @include appearance(none); // reset appearance
  background-color: $input-bg;
  color: $dark;
  vertical-align: middle;
  font-size: $input-font-size;
  border: 1px solid $input-border-color;
  border-radius: $border-radius-base;
  line-height: 1.1; // here prefer unitless number instead of length(px, em or rem)
}

// Rounded search input

input[type="search"] {
  font-size: 16px;
  border-radius: 20px;
  @include box-sizing(border-box); // Override content-box in normalize
}

// Reset height since textareas have rows

textarea {
  height: auto;
}

// Position radios and checkboxes better

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Make multiple select elements height not fixed

select[multiple],
select[size] {
  height: auto;
}

// Make select elements obey height by applying a border
select {
  border: 1px solid $input-border-color;
  background-color: $input-bg; // Chrome on Linux and Mobile Safari need background-color
}


// Placeholder
// --------------------------------------------------

input,
textarea {
  @include placeholder();
}

// DISABLED STATE
// --------------------------------------------------

// Disabled and read-only inputs

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: $input-bg-disabled;
  cursor: not-allowed;
}

// Explicitly reset the colors here

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

// Add textarea vertical padding

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

// Form group
// --------------------------------------------------

.form-group {

  .form-control {
    margin-top: -1px;
    margin-bottom: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  > .form-control {
    height: $line-height-computed + $input-font-size + $padding-base-vertical * 2;
  }
}

.input-group {
  position: relative;
  margin-top: -1px;
  padding: $padding-base-vertical 0;
  border-top: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;

  &:first-child {
    margin-top: 0;
  }

  .form-control {
    margin: 0;
    border: none;
    height: $line-height-computed + $input-font-size - 2;
    
    &:first-child {
      padding-right: $content-padding * 2 + $input-font-size * 2;
    }

    &:last-child {
      padding-left: $content-padding * 2 + $input-font-size * 2;
    }
  }

  label,
  .icon {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    font-size: $input-font-size;

    &:first-child {
      left: $content-padding;
    }

    &:last-child {
      right: $content-padding;
    }
  }

  .label-wide + .form-control {
    padding-left: $content-padding * 2 + $input-font-size * 4
  }
}

// Form select
// -------------------------------

.item-select select {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  text-indent: 0.01px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

// Form search
// -------------------------------

.search-group {
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .icon-search {
    display: table-cell;
    float: left;
  }

  .icon-search:before {
    padding: 5px 0;
    height: 34px;
    background-size: contain;
  }

  input {
    display: table-cell;
    width: 90%;
    border: none;
    height: 32px;
  }
}

