/**
 * Icons
 * --------------------------------------------------
 */

 
$icon-image-path:    "../images/" !default;
$icon-prefix:        "icon-";

$icon-var-chevron-down:   "chevron-down.png";
$icon-var-chevron-left:   "chevron-left.png";
$icon-var-chevron-right:  "chevron-right.png";
$icon-var-chevron-up:     "chevron-up.png";
$icon-var-clip:           "clip.png";
$icon-var-gray-loading:   "gray-loading.png";
$icon-var-loading:        "loading.png";
$icon-var-search:         "search.png";
$icon-var-select:         "select.png";

.icon {
  position: relative;
  display: inline-block;
  padding: 0;
  width: $icon-size;
  height: $icon-size;
  vertical-align: middle;

  &:before {
    content: " ";
    position: absolute;
    display: block;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &.icon-large,
  &.icon-large:before {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  &.icon-small,
  &.icon-small:before {
    width: $icon-small-size;
    height: $icon-small-size;
  }
}

// Animation Icons
// --------------------------

.#{$icon-prefix}spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.#{$icon-prefix}gray-loading {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start);
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.#{$icon-prefix}loading,
.#{$icon-prefix}gray-loading {
  @extend.#{$icon-prefix}spin;
}

.#{$icon-prefix}chevron-down:before { background-image: url(#{$icon-image-path}#{$icon-var-chevron-down}); }
.#{$icon-prefix}chevron-left:before { background-image: url(#{$icon-image-path}#{$icon-var-chevron-left}); }
.#{$icon-prefix}chevron-right:before { background-image: url(#{$icon-image-path}#{$icon-var-chevron-right}); }
.#{$icon-prefix}chevron-up:before { background-image: url(#{$icon-image-path}#{$icon-var-chevron-up}); }
.#{$icon-prefix}clip:before { background-image: url(#{$icon-image-path}#{$icon-var-clip}); }
.#{$icon-prefix}gray-load:before { background-image: url(#{$icon-image-path}#{$icon-var-gray-loading}); }
.#{$icon-prefix}gray-loading:before { @extend .#{$icon-prefix}gray-load:before; }
.#{$icon-prefix}load:before { background-image: url(#{$icon-image-path}#{$icon-var-loading}); }
.#{$icon-prefix}loading:before { @extend .#{$icon-prefix}load:before; }
.#{$icon-prefix}search:before { background-image: url(#{$icon-image-path}#{$icon-var-search}); }
.#{$icon-prefix}select:before { background-image: url(#{$icon-image-path}#{$icon-var-select}); }

