
/**
 * Bar (Headers and Footers)
 * --------------------------------------------------
 */

.bar {
  @include translate3d(0,0,0);
  @include user-select(none);
  position: absolute;
  right: 0;
  left: 0;
  z-index: $z-index-bar;

  box-sizing: border-box;
  padding: $bar-padding-portrait;

  width: 100%;
  height: $bar-height;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $bar-default-border;

  background-color: $bar-default-bg;

  background-size: 0;

  &.fixed-top,
  &.fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    @include translate3d(0, 0, 0);
  }

  &.fixed-top {
    top: 0;
  }

  &.fixed-bottom {
    bottom: 0;
  }

  &.transparent {
    opacity: 0.9;
  }

  &.item-input-inset {
    .item-input-wrapper {
      margin-top: -1px;

      input {
        padding-left: 8px;
        height: 28px;
      }
    }
  }

  // Title inside of a bar is centered
  .title {
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-bar-title;
    overflow: hidden;

    margin: 0 10px;
    padding: 0 50px;

    min-width: 30px;

    text-align: center;

    // Go into ellipsis if too small
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: $bar-title-font-size;
    color: $bar-default-text;

    line-height: $bar-height;

    &.title-left {
      text-align: left;
    }
    &.title-right {
      text-align: right;
    }
  }

  a {
    color: inherit;
  }

  .icon {
    position: absolute;
    top: 50%;
    max-width: 40px;
    max-height: 32px;
    @include translate(0, -50%);

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }

    img {
      height: 100%;
    }
  }

}

// Header at top
.header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}

// Footer at bottom
.footer {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
}

// Don't render padding if the bar is just for tabs
.tabs {
  padding: 0;
}
