
/**
 * Scaffolding
 * --------------------------------------------------
 */

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  @include touch-callout(none);
  @include font-smoothing(antialiased);
  @include text-size-adjust(none);
  @include tap-highlight-transparent();
  @include user-select(none);

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  margin: 0;
  padding: 0;

  color: $gray;
  word-wrap: break-word;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-computed;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
}

.content {
  // used for content areas not using the content directive
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

// Hack to force all relatively and absolutely positioned elements still render while scrolling
// Note: This is a bug for "-webkit-overflow-scrolling: touch"
.content > * {
  @include translateZ(0);
}

// Pad top/bottom of content so it doesn't hide behind .bar-title and .bar-tab.
// Note: For these to work, content must come after both bars in the markup
.header ~ .content {
  padding-top: $bar-height;
}

.footer ~ .content {
  padding-bottom: $bar-height;
}

// A full screen section with a solid background
.pane {
  @include translate3d(0,0,0);
  z-index: $z-index-pane;
}
.view {
  z-index: $z-index-view;
}
.pane, .view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

// Universal link 

a {
  color: $brand-primary;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

  &:active {
    color: darken($brand-primary, 10%);
  }
}


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
  display: none;
}
.opacity-hide {
  opacity: 0;
}
.grade-b .opacity-hide,
.grade-c .opacity-hide {
  opacity: 1;
  display: none;
}
.show {
  display: block;
}
.opacity-show {
  opacity: 1;
}
.invisible {
  visibility: hidden;
}

.hide-footer {
  .bar-footer,
  .tabs {
    display: none;
  }
  .has-footer,
  .has-tabs {
    bottom: 0;
  }
}

.inline {
  display: inline-block;
}

.disable-pointer-events {
  pointer-events: none;
}

.enable-pointer-events {
  pointer-events: auto;
}

.disable-user-behavior {
  // used to prevent the browser from doing its native behavior. this doesnt 
  // prevent the scrolling, but cancels the contextmenu, tap highlighting, etc

  @include user-select(none);
  @include touch-callout(none);
  @include tap-highlight-transparent();

  -webkit-user-drag: none;
  
  -ms-touch-action: none;
  -ms-content-zooming: none;
}

.block {
  display: block;
  clear: both;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

.full-image {
  width: 100%;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


/**
 * Quick Floats
 * --------------------------------------------------
 */

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

/**
 * Text align
 * --------------------------------------------------
 */

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}


/**
 * Content Margin
 * --------------------------------------------------
 */

.margin {
  margin: $content-margin !important;
  &.narrow {
    margin: $content-margin - 5 !important;
  }
  &.narrower {
    margin: $content-margin - 10 !important
  }
}

.margin-top,
.margin-vertical {
  margin-top: $content-margin !important;
  &.narrow {
    margin: $content-margin - 5 !important;
  }
  &.narrower {
    margin: $content-margin - 10 !important
  }
}

.margin-right,
.margin-horizontal {
  margin-right: $content-margin !important;
}

.margin-bottom,
.margin-vertical {
  margin-bottom: $content-margin !important;
}

.margin-left,
.margin-horizontal {
  margin-left: $content-margin !important;
}

.no-margin-top,
.no-margin-vertical,
.no-margin {
  margin-top: 0 !important;
}

.no-margin-right,
.no-margin-horizontal,
.no-margin {
  margin-right: 0 !important;
}

.no-margin-bottom,
.no-margin-vertical,
.no-margin {
  margin-bottom: 0 !important;
}

.no-margin-left,
.no-margin-horizontal,
.no-margin {
  margin-left: 0 !important;
}

/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
  padding: $content-padding !important;
}

.padding-top,
.padding-vertical {
  padding-top: $content-padding !important;
}

.padding-right,
.padding-horizontal {
  padding-right: $content-padding !important;
}

.padding-bottom,
.padding-vertical {
  padding-bottom: $content-padding !important;
}

.padding-left,
.padding-horizontal {
  padding-left: $content-padding !important;
}

.no-padding-top,
.no-padding-vertical,
.no-padding {
  padding-top: 0 !important;
}

.no-padding-right,
.no-padding-horizontal,
.no-padding {
  padding-right: 0 !important;
}

.no-padding-bottom,
.no-padding-vertical,
.no-padding {
  padding-bottom: 0 !important;
}

.no-padding-left,
.no-padding-horizontal,
.no-padding {
  padding-left: 0 !important;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
  border-radius: $border-radius-base;
}

.image-rounded {
  border-radius: 50%;
}


/**
 * Utility Colors
 * --------------------------------------------------
 */

.text-muted {
  color: $gray-light;
}

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $state-success-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-danger', $state-danger-text);

.bg-primary {
  color: #fff;
}

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $state-success-bg);

@include bg-variant('.bg-warning', $state-warning-bg);

@include bg-variant('.bg-danger', $state-danger-bg);
