/**
 * Items
 * --------------------------------------------------
 */

.item {
  @include item-style($item-default-bg, $item-default-border, $item-default-text);
  @include transition(margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out);

  position: relative;
  z-index: $z-index-item; // Make sure the borders and stuff don't get hidden by children
  display: block;

  margin: $item-border-width * -1;
  padding: 11px 15px;

  border-width: $item-border-width;
  border-style: solid;
  font-size: $item-font-size;

  h2 {
    margin: 0 0 4px 0;
    font-size: 16px;
  }
  h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
  }
  h4 {
    margin: 0 0 4px 0;
    font-size: 12px;
  }
  h5, h6 {
    margin: 0 0 3px 0;
    font-size: 10px;
  }
  p {
    color: #666;
    font-size: 14px;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }

  // Align badges within items
  .badge {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translate(0, -50%);
  }
  &.item-divider .badge {
    top: $item-padding / 2;
  }
  .badge + .badge {
    margin-right: 5px;
  }

  &.align-right .item-content {
    text-align: right;
  }
}

// Link and Button Active States
.item.active:not(.item-divider):not(.item-input):not(.item-input-inset) {
  @include item-active-style($item-default-active-bg, $item-default-active-border);
}

// Handle text overflow
.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Linked list items
a.item {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a.item-content {
  display: block;
  color: inherit;
  text-decoration: none;
}

.item-text-wrap .item,
.item-text-wrap,
.item-text-wrap h1,
.item-text-wrap h2,
.item-text-wrap h3,
.item-text-wrap h4,
.item-text-wrap h5,
.item-text-wrap h6,
.item-text-wrap p,
.item-complex.item-text-wrap .item-content,
.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
  overflow: hidden;
  white-space: normal;
}

// Item Body
// -------------------------------

.item-body {
  overflow: auto;
  padding: $item-padding;
  text-overflow: inherit;
  white-space: normal;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: $item-padding;
  }

  .button.right-corner {
    position: absolute;
    right: 15px;
    top: 11px;
  }
}



/**
 * Item Icons
 * --------------------------------------------------
 */

.item-icon-left .icon,
.item-icon-right .icon {
  position: absolute;
  top: 50%;
  @include translate(0, -50%);
}

.item .fill-icon {
  min-width: $item-icon-fill-font-size + 2;
  min-height: $item-icon-fill-font-size + 2;
  font-size: $item-icon-fill-font-size;
}

.item-icon-left {
  padding-left: ($item-padding * 3);

  .icon {
    left: $item-padding / 2;
  }
}

.item-icon-right {
  padding-right: ($item-padding * 3);

  .icon {
    right: $item-padding / 2;
  }
}

.item-icon-left.item-icon-right .icon:first-child {
  right: auto;
}
.item-icon-left.item-icon-right .icon:last-child {
  left: auto;
}


/**
 * Item Button
 * --------------------------------------------------
 * An item button is a child button inside an .item (not the entire .item)
 * Only support right button
 */

.item-button-right,
a.item.item-button-right,
button.item.item-button-right {
  padding-right: 110px;
}

.item-button-right > .button,
.item-button-right .item-content > .button,
.item-button-right > .buttons,
.item-button-right .item-content > .buttons {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  @include translate(0, -50%);
  min-width: ($item-icon-font-size * 2) + ($button-border-width * 2);
  min-height: $item-icon-font-size + ($button-border-width * 2);
  font-size: $item-button-font-size;
  line-height: $item-button-line-height;

  .icon:before {
    position: relative;
    left: auto;
    width: auto;
    line-height: $item-icon-font-size - 1;
  }

  > .button {
    margin: 0px 2px;
    min-width: $item-icon-font-size + ($button-border-width * 2);
    min-height: $item-icon-font-size + ($button-border-width * 2);
    font-size: $item-button-font-size;
    line-height: $item-button-line-height;
  }
}

/**
 * Item text label
 * --------------------------------------------------
 * Only support left label
 */

.item-label {
  padding-left: 90px;

  & > label,
  & > .label-left {
    position: absolute;
    top: 50%;
    left: $item-padding;
    display: block;
    width: 75px;
    padding-right: 10px;
    @include translate(0, -50%);

    &.align-right {
      text-align: right;
    }
  }
}


/**
 * Auto Right Arrow Icon
 * --------------------------------------------------
 * By default, if an .item is created out of an <a> or <button>
 * then a arrow will be added to the right side of the item.
 */

a.item,
button.item,
.item a[href].item-content,
.item[ng-click] a.item-content {
  padding-right: (($item-padding * 3) - 15);
}

a.item:after,
button.item:after,
.item a[href].item-content:after {
  /* By default, both <a> and <button> have right side arrow icons */
  position: absolute;
  top: 50%;
  right: $item-padding - 4;
  @include translate(0, -50%);
  
  content: " ";
  width: $icon-small-size;
  height: $icon-small-size;
  background-image: url(#{$icon-image-path}#{$icon-var-chevron-right});
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// do not show the default right arrow when they want their own right side icon
a.item-icon-right:after,
button.item-icon-right:after,
a.item-button-right:after,
button.item-button-right:after,
.item a.item-content:after {
  display: none;
}


// Item Avatar
// -------------------------------

.item-avatar {
  padding-left: $item-avitar-width + ($item-padding * 2);
  min-height: $item-avitar-width + ($item-padding * 2);

  img:first-child, .item-img {
    position: absolute;
    top: $item-padding;
    left: $item-padding;
    max-width: $item-avitar-width;
    max-height: $item-avitar-height;
    width: 100%;
    border-radius: 4px;
  }
}


// Item Thumbnails
// -------------------------------

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-left: $item-thumbnail-width + $item-thumbnail-margin + $item-padding;
  min-height: $item-thumbnail-height + ($item-thumbnail-margin * 2);

  > img:first-child, > .item-image {
    position: absolute;
    top: 50%;
    left: $item-padding;
    @include translate(0, -50%);
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
  }
}
.item-thumbnail-left.item-complex {
  padding-left: 0;
}

.item-thumbnail-right,
.item-thumbnail-right .item-content {
  padding-right: $item-thumbnail-width + $item-thumbnail-margin + $item-padding;
  min-height: $item-thumbnail-height + ($item-thumbnail-margin * 2);

  > img:first-child, > .item-image {
    position: absolute;
    top: 50%;
    right: $item-padding;
    @include translate(0, -50%);
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
  }
}
.item-thumbnail-left.item-complex {
  padding-right: 0;
}


// Item Image
// -------------------------------

.item-image {
  padding: 0;
  text-align: center;

  img:first-child, .list-img {
    width: 100%;
    vertical-align: middle;
  }
}

// Item Divider
// -------------------------------

.item-divider {
  padding-top: $item-padding / 2;
  padding-bottom: $item-padding / 2;
  min-height: 30px;
  background-color: $item-divider-bg;
  color: $item-divider-color;
  font-weight: bold;

  &.ceiling {
    padding-top: 0;
    padding-bottom: $item-padding;
    font-size: 12px;
    font-weight: normal;
  }

  &.floor {
    padding-top: $item-padding;
    padding-bottom: 0;
  }
}


// Item Note
// -------------------------------

.item-note {
  float: right;
  color: #aaa;
  font-size: 14px;
}

