
// Colors
// -------------------------------

$theme-color:                     #f48b28;

$dark:                            #444;
$gray-darker:                     lighten(#000, 13.5%) !default; // #222
$gray-dark:                       lighten(#000, 20%) !default;   // #333
$gray:                            lighten(#000, 33.5%) !default; // #555
$gray-light:                      lighten(#000, 46.7%) !default; // #777
$gray-lighter:                    lighten(#000, 93.5%) !default; // #eee

$brand-primary:                   #428bca !default;
$brand-success:                   #5cb85c !default;
$brand-warning:                   #f0ad4e !default;
$brand-danger:                    #d9534f !default;

// Form states and alerts
//## Define colors for form feedback states and, by default, alerts.
// -------------------------------

$state-success-text:              #3c763d !default;
$state-success-bg:                #dff0d8 !default;
$state-success-border:            darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-warning-text:              #8a6d3b !default;
$state-warning-bg:                #fcf8e3 !default;
$state-warning-border:            darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:               #a94442 !default;
$state-danger-bg:                 #f2dede !default;
$state-danger-border:             darken(adjust-hue($state-danger-bg, -10), 5%) !default;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-light-sans-serif:    "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-serif:               Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:           Monaco, Menlo, Consolas, "Courier New", monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  16px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $brand-primary !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-margin:                  15px !default;
$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;

$border-width-base:               1px !default;


// Content
// -------------------------------

$scroll-refresh-icon-color:       #666666 !default;


// Buttons
// -------------------------------

$button-color:                    #222 !default;
$button-block-margin:             10px !default;
$button-clear-padding:            6px !default;
$button-border-radius:            4px !default;
$button-border-width:             1px !default;

$button-font-size:                16px !default;
$button-height:                   42px !default;
$button-padding:                  8px !default;
$button-margin:                   5px !default;
$button-icon-size:                24px !default;

$button-large-font-size:          20px !default;
$button-large-height:             54px !default;
$button-large-padding:            16px !default;
$button-large-icon-size:          32px !default;

$button-small-font-size:          12px !default;
$button-small-height:             28px !default;
$button-small-padding:            4px !default;
$button-small-icon-size:          16px !default;

$button-bar-button-font-size:     13px !default;
$button-bar-button-height:        32px !default;
$button-bar-button-padding:       8px !default;
$button-bar-button-icon-size:     20px !default;

$button-theme-bg:                 $theme-color;
$button-theme-border:             $theme-color;
$button-theme-text:               #fff;
$button-theme-active-bg:          lighten($theme-color, 5%);
$button-theme-active-border:      lighten($theme-color, 5%);

$button-default-bg:               #f8f8f8 !default;
$button-default-border:           #f8f8f8 !default;
$button-default-text:             #444 !default;
$button-default-active-bg:        #b2b2b2 !default;
$button-default-active-border:    #b2b2b2 !default;


// Bars
// -------------------------------

$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-padding-portrait:            5px !default;
$bar-padding-landscape:           5px !default;
$bar-transparency:                1 !default;

$bar-default-bg:                  rgba(#fff, $bar-transparency) !default;
$bar-default-text:                #444 !default;
$bar-default-border:              #ddd !default;
$bar-default-active-bg:           #fafafa !default;
$bar-default-active-border:       #ccc !default;

$bar-theme-bg:                    rgba($theme-color, $bar-transparency);
$bar-theme-text:                  #fff;
$bar-theme-border:                $theme-color;
$bar-theme-active-bg:             lighten($theme-color, 5%);
$bar-theme-active-border:         lighten($theme-color, 8%);

// Tabs
// -------------------------------

$tabs-height:                     49px !default;
$tabs-text-font-size:             14px !default;
$tabs-text-font-size-side-icon:   12px !default;
$tabs-icon-size:                  32px !default;
$tabs-badge-padding:              1px 6px !default;
$tabs-badge-font-size:            12px !default;
$tabs-text-font-size:             14px !default;

$tabs-default-bg:                 $theme-color !default;
$tabs-default-border:             darken($theme-color, 15%) !default;
$tabs-default-text:               #fff !default;

$tab-item-max-width:              150px !default;


// Items
// -------------------------------

$item-font-size:                  16px !default;
$item-border-width:               1px !default;
$item-padding:                    15px !default;

$item-button-font-size:           14px !default;
$item-button-line-height:         32px !default;
$item-icon-font-size:             32px !default;
$item-icon-fill-font-size:        28px !default;

$item-avitar-width:               40px !default;
$item-avitar-height:              40px !default;

$item-thumbnail-width:            64px !default;
$item-thumbnail-height:           64px !default;
$item-thumbnail-margin:           10px !default;

$item-divider-bg:                 #f5f5f5 !default;
$item-divider-color:              #222 !default;
$item-divider-padding:            5px 15px !default;

$item-default-bg:                 #fff !default;
$item-default-border:             #ddd !default;
$item-default-text:               #444 !default;
$item-default-active-bg:          #D9D9D9 !default;
$item-default-active-border:      #ccc !default;


// Lists
// -------------------------------

$list-header-bg:                  transparent !default;
$list-header-color:               #222 !default;
$list-header-padding:             5px 15px !default;
$list-header-margin-top:          20px !default;


// Icons
// -------------------------------

$icon-size:                       32px !default;
$icon-small-size:                 24px !default;
$icon-large-size:                 130px !default;



// Forms
// -------------------------------

$input-height-base:               ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:              (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:              (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$input-bg:                        #fff !default;
$input-bg-disabled:               #f8f8f8 !default;

$input-color:                     #444 !default;
$input-border:                    $item-default-border !default;
$input-border-width:              $item-border-width !default;
$input-label-color:               $dark !default;
$input-color-placeholder:         lighten($dark, 40%) !default;


// Z-Indexes
// -------------------------------

$z-index-action-sheet:            11 !default;
$z-index-bar:                     10 !default;
$z-index-bar-title:               0 !default;
$z-index-bar-button:              1 !default;
$z-index-item:                    2 !default;
$z-index-item-checkbox:           3 !default;
$z-index-item-drag:               0 !default;
$z-index-item-edit:               0 !default;
$z-index-item-options:            1 !default;
$z-index-item-radio:              3 !default;
$z-index-item-reordering:         9 !default;
$z-index-item-toggle:             3 !default;
$z-index-menu:                    0 !default;
$z-index-modal:                   10 !default;
$z-index-pane:                    1 !default;
$z-index-popup:                   11 !default;
$z-index-popup-backdrop:          10 !default;
$z-index-scroll-bar:              9999 !default;
$z-index-tabs:                    5 !default;
$z-index-view:                    1 !default;

