/**
 * Fancy divison
 * ==========================================================================
 */

$division-base-padding:        10px;

$division-base-font:           14px;
$division-small-font:          10px;

$division-border-color:        #ddd;
$division-font-color:          #666;


.fancy-division {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $division-base-font;
  @include clearfix();

  &.small {
    font-size: $division-small-font;

    .fancy-division-zone .zone-label {
      font-size: $division-small-font + 6;
    }
  }

  &.justified .fancy-division-zone {
    display: table-cell;
    float: none;
    width: 1%;
  }
}

.fancy-division-zone {
  float: left;
  height: 100%;
  padding: $division-base-padding - 5 $division-base-padding;
  border-right: 1px solid $division-border-color;
  text-align: center;

  .zone-label {
    margin: 0;
    white-space: nowrap;
    font-size: $division-base-font + 6;
    color: darken($division-font-color, 15%);
  }

  .zone-note {
    margin-top: 10px;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .zone-image {
    display: inline-block;
    margin-top: 5px;

    ~ .zone-note {
      margin-top: 0;
    }
  }

  &:last-child {
    border-right: 0;
  }
}