/**
 * Fancy progress
 * ==========================================================================
 */

$progress-padding:       15px;
$progress-bar-height:    10px;
$progress-node-size:     20px;
$progress-tip-size:      20px;

.fancy-progress {
  position: relative;
  margin: 0 auto $progress-padding;
  padding: $progress-padding 0;
  list-style: none;

  .fancy-progress-step {
    display: table-cell;
    width: 1%;
    padding-top: 10px;
    padding-bottom: 7px;
    vertical-align: middle;
    text-align: center;
  }
}

.fancy-progress-step {
  position: relative;
  margin: 0;
  padding: 0;

  .content {
    margin: 0;
    font-size: inherit;
  }

  .bar {
    position: absolute;
    left: 50%;
    bottom: -$progress-padding;
    width: 100%;
    height: $progress-bar-height;
    background-color: #d5d5d5;
  }

  .node {
    position: absolute;
    left: 50%;
    bottom: -$progress-padding;
    width: $progress-node-size;
    height: $progress-node-size;
    @include translate(-$progress-node-size / 2, ($progress-node-size - $progress-bar-height) / 2);
    border: 2px solid transparent;
    border-radius: $progress-node-size;
    background-color: #d5d5d5;
  }

  &.doing .node {
    background-color: #fff;
    border-color: $brand-primary;
  }

  &.doing .content {
    font-weight: bolder;
    color: $brand-primary;
  }

  &.done .bar,
  &.done .node {
    background-color: $brand-primary;
  }
}
