/**
 * Datetimepicker
 * --------------------------------------------------
 */


.datetimepicker {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: $z-index-action-sheet;
  @include transition(transform .3s ease-out);
  @include translate(0, 100%);

  &.open {
    @include translate(0, 0);
  }
}

.datetimepicker-head {
  position: relative;
  padding: ($content-padding / 2) $content-padding;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  @include clearfix();

  .button {
    min-height: 28px;
    line-height: 28px;
  }
}

.datetimepicker-body {
  position: relative;

  .calendar {
    width: 100%;
    height: 266px;
    border-collapse: collapse;

    thead tr {
      border: 1px solid #fff;
    }

    thead th {
      background-color: #f8f8f8;
    }

    th, td {
      text-align: center;
      color: #000;
      font-weight: normal;
    }

    td {
      border-top: 1px solid #ddd;
      width: 14.3%;
      padding: 3px 0;
      vertical-align: middle;
      text-align: center;

      a {
        display: inline-block;
        padding: 3px;
        width: 28px;
        height: 28px;
        border-radius: 15px;
      }
    }

    .currentMonth {
      padding: 5px;
      font-weight: bold;
    }

    .old, .new {
      background-color: #ddd;

      a {
        color: #aaa;
      }
    }

    .current a {
      color: $brand-danger;
    }

    .active a {
      background-color: $brand-primary;      
      color: #fff;
    }
  }
}