/**
 * Nav tabs
 * --------------------------------------------------
 */

$nav-tabs-padding:              10px !default;
$nav-tabs-default-background:   #fff !default;
$nav-tabs-default-border:       #ddd !default;
$nav-tabs-default-color:        #555 !default;
$nav-tabs-default-font-size:    14px !default;

.nav-tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  &.tabs-justified {
    display: table;
    table-layout: fixed;

    li {
      float: none;
      display: table-cell;
      width: 1%;

      a {
        text-align: center;
        font-size: $nav-tabs-default-font-size;

        .icon {
          @include transition(-webkit-transform .3s);
        }
      }
    }
  }

  li {
    float: left;
    position: relative;
    display: block;
    margin-bottom: -1px;

    &:not(:last-child):after {
      position: absolute;
      content: "|";
      top: 50%;
      right: 0;
      @include translate(0, -50%);
      color: $nav-tabs-default-border;
    }

    a {
      position: relative;
      padding: $nav-tabs-padding + 2 $nav-tabs-padding;
      display: block;
      background-color: $nav-tabs-default-background;
      border-bottom: 1px solid $nav-tabs-default-border;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $nav-tabs-default-color;
    }

    &.open a {
      color: $brand-warning;

      .icon {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
  }
}
