/**
 * Searchsheet
 * --------------------------------------------------
 */


.searchsheet {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  left: 0;
  height: 378px;
  overflow: hidden;
  background-color: #fff;
  z-index: $z-index-action-sheet;
  @include transition(transform 0.6s ease-out);
  @include translate3d(0, 100%, 0);

  &.open {
    @include translate3d(0, 0, 0);
  }

  .result-list {
    height: 322px;
    overflow-x: hidden;
    overflow-y: scroll;

    .item {
      margin-left: 0;
      margin-right: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}