/**
 * Selectsheet
 * --------------------------------------------------
 */

 $selectsheet-option-height:   26px;



.selectsheet {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  left: 0;
  height: 172px;
  overflow: hidden;
  background-color: #fff;
  z-index: $z-index-selectsheet;
  @include transition(transform .3s ease-out);
    @include translate(0, 200px);

  &.open {
    @include translate(0, 0);
  }
}

.selectsheet-header {
  position: relative;
  padding: $content-padding $content-margin;
  height: 42px;
  background-color: #ddd;

  .sheet-confirm {
    position: absolute;
    top: 50%;
    right: $content-margin;
    min-width: 60px;
    @include translate(0, -50%);
  }
}

.selectsheet-body {
  position: relative;
  height: 130px;

  .select-group {
    position: relative;
    float: left;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      display: block;
      padding: $selectsheet-option-height * 2 0;
      width: 100%;

      li a {
        display: block;
        height: $selectsheet-option-height;
        line-height: $selectsheet-option-height + 1;
        background-color: transparent;
      }
    }
  }
}

.selectsheet-open {
  overflow: hidden;
}

.selectsheet-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-backdrop;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
  @include translateZ(0);
}

.selectsheet-highlight {
  position: absolute;
  top: $selectsheet-option-height * 2;
  height: $selectsheet-option-height;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
