/**
 * Selectsheet
 * --------------------------------------------------
 */

$selectsheet-option-height:   26px;



.selectsheet {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: $z-index-selectsheet;
  @include transition(transform .3s ease-out);
  @include translate(0, 100%);

  &.open {
    @include translate(0, 0);
  }
}

.selectsheet-header {
  position: relative;
  padding: $content-padding $content-margin;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;

  label {
    font-weight: bold;
  }
}

.selectsheet-body {
  position: relative;
  height: 180px;
}

.selectsheet-group {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &.double .menu {
    width: 50%;
  }

  &.triple .menu {
    width: 33.3%;
  }

  &.coordinate {
    overflow: hidden;
    background-color: #fff;

    .menu {
      position: relative;
      display: none;
      float: left;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #fff;

      &.active {
        display: block;
      }

      li {

        a {
          display: block;
          padding: 5px;
          text-align: center;
          color: #555;
        }

        &.active a {
          color: $brand-warning;
        }
      }
    }

    .main {
      background-color: #f5f5f5;
    }

    .sub {
      background-color: #fbfbfb;
    }
  }

  &.independent {
    float: left;

    &.half {
      width: 50%;
    }

    &.triple {
      width: 33.3%;
    }

    ul {
      height: 100%;
      padding: $content-padding;
      overflow-x: hidden;
      overflow-y: scroll;

      a.button {
        margin-top: 5px;
        margin-bottom: 5px;
        border-color: $brand-warning;
        color: $brand-warning;
        background-color: #fff;
      }

      .active a {
        background-color: $brand-warning;
        color: #fff;
      }
    }
  }

  // ul {
  //   display: block;
  //   width: 100%;

  //   li a {
  //     display: block;
  //     height: $selectsheet-option-height;
  //     line-height: $selectsheet-option-height + 1;
  //     background-color: transparent;
  //   }
  // }
}

.selectsheet-highlight {
  position: absolute;
  top: $selectsheet-option-height * 2;
  height: $selectsheet-option-height;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
