// Button Mixins
// --------------------------------------------------

@mixin button-style($bg-color, $active-bg-color, $color) {
  color: $color;
  background-color: $bg-color;

  // Give desktop users something to play with
  &:hover {
    color: $color;
    text-decoration: none;
  }
  &.active {
    background-color: $active-bg-color;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
  }
}

@mixin button-clear($color, $font-size:"") {
  &.button-clear {
    color: $color;
    background: none;
    border-color: transparent;
    box-shadow: none;

    @if $font-size != "" {
      font-size: $font-size;
    }
  }
  &.button-icon {
    background: none;
    border-color: transparent;
  }
}

@mixin button-outline($color, $text-color:"") {
  &.button-outline {
    background: transparent;
    border-color: $color;
    @if $text-color == "" {
      $text-color: $color;
    }
    color: $text-color;
    &.active {
      background-color: $color;
      color: #fff;
      box-shadow: none;
    }
  }
}
