// Item Mixins
// --------------------------------------------------

@mixin item-style($bg-color, $border-color, $color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}

@mixin item-active-style($active-bg-color, $active-border-color) {
  background-color: $active-bg-color;
  border-color: $active-border-color;
}
