/**
 * Animation utils
 * --------------------------------------------------
 */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapsed {
  display: none;
}

.collapsed.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

/**
 * Icons
 * --------------------------------------------------
 */
.icon {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.icon:before {
  content: " ";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.icon.large, .icon.large:before {
  width: 32px;
  height: 32px;
}
.icon.small, .icon.small:before {
  width: 16px;
  height: 16px;
}

.icon-spin, .icon-loading {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-chevron-down:before {
  background-image: url(../images/chevron-down.png);
}

.icon-chevron-right:before {
  background-image: url(../images/chevron-right.png);
}

.icon-chevron-up:before {
  background-image: url(../images/chevron-up.png);
}

.icon-clip:before {
  background-image: url(../images/clip.png);
}

.icon-load:before, .icon-loading:before {
  background-image: url(../images/loading.png);
}

.icon-select:before {
  background-image: url(../images/select.png);
}

/**
 * Resets
 * --------------------------------------------------
 * Adapted from normalize.css and some reset.css. We don't care even one
 * bit about old IE, so we don't need any hacks for that in here.
 * 
 * There are probably other things we could remove here, as well.
 *
 * normalize.css v2.1.2 | MIT License | git.io/normalize
 
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, fieldset,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 */
html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  line-height: 1;
}

/**
 * Remove default outlines.
 */
a,
button,
:focus,
a:focus,
button:focus,
a:active,
a:hover {
  outline: 0;
}

/* *
 * Remove tap highlight color
 */
a {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
a[href]:hover {
  cursor: pointer;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, serif;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Remove any default :focus styles
 * 5. Make sure webkit font smoothing is being inherited
 */
button,
input,
select,
textarea {
  margin: 0;
  /* 3 */
  font-size: 100%;
  /* 2 */
  font-family: inherit;
  /* 1 */
  outline-offset: 0;
  /* 4 */
  outline-style: none;
  /* 4 */
  outline-width: 0;
  /* 4 */
  -webkit-font-smoothing: inherit;
  /* 5 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `importnt` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

img {
  -webkit-user-drag: none;
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/**
 * Scaffolding
 * --------------------------------------------------
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #555555;
  word-wrap: break-word;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 22px;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

.content > * {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.header ~ .content {
  padding-top: 44px;
}

.footer ~ .content {
  padding-bottom: 44px;
}

.pane {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.view {
  z-index: 1;
}

.pane, .view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

a {
  color: #428bca;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  color: #3071a9;
}

/**
 * Utility Classes
 * --------------------------------------------------
 */
.hide {
  display: none;
}

.opacity-hide {
  opacity: 0;
}

.grade-b .opacity-hide,
.grade-c .opacity-hide {
  opacity: 1;
  display: none;
}

.show {
  display: block;
}

.opacity-show {
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.hide-footer .bar-footer,
.hide-footer .tabs {
  display: none;
}
.hide-footer .has-footer,
.hide-footer .has-tabs {
  bottom: 0;
}

.inline {
  display: inline-block;
}

.disable-pointer-events {
  pointer-events: none;
}

.enable-pointer-events {
  pointer-events: auto;
}

.disable-user-behavior {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -ms-touch-action: none;
  -ms-content-zooming: none;
}

.block {
  display: block;
  clear: both;
}
.block:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.full-image {
  width: 100%;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/**
 * Quick Floats
 * --------------------------------------------------
 */
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

/**
 * Text align
 * --------------------------------------------------
 */
.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

/**
 * Content Margin
 * --------------------------------------------------
 */
.margin {
  margin: 15px !important;
}

.margin-top,
.margin-vertical {
  margin-top: 15px !important;
}

.margin-right,
.margin-horizontal {
  margin-right: 15px !important;
}

.margin-bottom,
.margin-vertical {
  margin-bottom: 15px !important;
}

.margin-left,
.margin-horizontal {
  margin-left: 15px !important;
}

.no-margin-top,
.no-margin-vertical,
.no-margin {
  margin-top: 0 !important;
}

.no-margin-right,
.no-margin-horizontal,
.no-margin {
  margin-right: 0 !important;
}

.no-margin-bottom,
.no-margin-vertical,
.no-margin {
  margin-bottom: 0 !important;
}

.no-margin-left,
.no-margin-horizontal,
.no-margin {
  margin-left: 0 !important;
}

/**
 * Content Padding
 * --------------------------------------------------
 */
.padding {
  padding: 10px !important;
}

.padding-top,
.padding-vertical {
  padding-top: 10px !important;
}

.padding-right,
.padding-horizontal {
  padding-right: 10px !important;
}

.padding-bottom,
.padding-vertical {
  padding-bottom: 10px !important;
}

.padding-left,
.padding-horizontal {
  padding-left: 10px !important;
}

.no-padding-top,
.no-padding-vertical,
.no-padding {
  padding-top: 0 !important;
}

.no-padding-right,
.no-padding-horizontal,
.no-padding {
  padding-right: 0 !important;
}

.no-padding-bottom,
.no-padding-vertical,
.no-padding {
  padding-bottom: 0 !important;
}

.no-padding-left,
.no-padding-horizontal,
.no-padding {
  padding-left: 0 !important;
}

/**
 * Rounded
 * --------------------------------------------------
 */
.rounded {
  border-radius: 4px;
}

.image-rounded {
  border-radius: 50%;
}

/**
 * Utility Colors
 * --------------------------------------------------
 */
.text-muted {
  color: #777777;
}

.text-primary {
  color: #428bca;
}

a.text-primary:hover {
  color: #3071a9;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover {
  color: #2b542c;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover {
  color: #843534;
}

.bg-primary {
  color: #fff;
}

.bg-primary {
  background-color: #428bca;
}

a.bg-primary:hover {
  background-color: #3071a9;
}

.bg-success {
  background-color: #dff0d8;
}

a.bg-success:hover {
  background-color: #c1e2b3;
}

.bg-warning {
  background-color: #fcf8e3;
}

a.bg-warning:hover {
  background-color: #f7ecb5;
}

.bg-danger {
  background-color: #f2dede;
}

a.bg-danger:hover {
  background-color: #e4b9b9;
}

/**
 * Typography
 * --------------------------------------------------
 */
p {
  margin: 0 0 11px;
}

small {
  font-size: 75%;
}

cite {
  font-style: normal;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  text-space: nowrap;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.2;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-weight: normal;
  line-height: 1;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child {
  margin-top: 0;
}
h1 + h1, h1 + .h1,
h1 + h2, h1 + .h2,
h1 + h3, h1 + .h3, .h1 + h1, .h1 + .h1,
.h1 + h2, .h1 + .h2,
.h1 + h3, .h1 + .h3,
h2 + h1,
h2 + .h1,
h2 + h2,
h2 + .h2,
h2 + h3,
h2 + .h3, .h2 + h1, .h2 + .h1,
.h2 + h2, .h2 + .h2,
.h2 + h3, .h2 + .h3,
h3 + h1,
h3 + .h1,
h3 + h2,
h3 + .h2,
h3 + h3,
h3 + .h3, .h3 + h1, .h3 + .h1,
.h3 + h2, .h3 + .h2,
.h3 + h3, .h3 + .h3 {
  margin-top: 11px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}

h1, .h1 {
  font-size: 41px;
}

h2, .h2 {
  font-size: 34px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

h1 small, .h1 small {
  font-size: 28px;
}

h2 small, .h2 small {
  font-size: 20px;
}

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: 16px;
}

dl {
  margin-bottom: 22px;
}

dt,
dd {
  line-height: 1.42857;
}

dt {
  font-weight: bold;
}

blockquote {
  margin: 0 0 22px;
  padding: 11px 22px;
  border-left: 5px solid gray;
}
blockquote p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.42857;
}
blockquote small:before {
  content: '\2014 \00A0';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  line-height: 1.42857;
}

a.subdued {
  padding-right: 10px;
  color: #888;
  text-decoration: none;
}
a.subdued:hover {
  text-decoration: none;
}
a.subdued:last-child {
  padding-right: 0;
}

/**
 * Forms
 * --------------------------------------------------
 */
form {
  margin: 0 0 1.42857;
}

legend {
  display: block;
  margin-bottom: 1.42857;
  padding: 0;
  width: 100%;
  border: 1px solid #ddd;
  color: #444;
  font-size: 24px;
  line-height: 2.85714;
}
legend small {
  color: #f8f8f8;
  font-size: 1.07143;
}

label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  margin-bottom: 15px;
  padding: 0 10px;
  height: 38px;
  background-color: #fff;
  color: #444;
  vertical-align: middle;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 18px;
}

input[type="search"] {
  padding: 0 10px;
  font-size: 16px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="date"] {
  line-height: 38px;
}

input,
textarea {
  width: 100%;
}

textarea {
  height: auto;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select[multiple],
select[size] {
  height: auto;
}

select,
input[type="file"] {
  line-height: 36px;
}

select {
  border: 1px solid #ddd;
  background-color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f8f8f8;
  cursor: not-allowed;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-input {
  position: relative;
  overflow: hidden;
  padding: 6px 8px 5px;
}
.item-input input, .item-input select, .item-input textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  background-color: #fff;
  border: none;
}
.item-input .button .icon {
  position: static;
  display: inline-block;
  height: auto;
  text-align: center;
  font-size: 16px;
}
.item-input .icon {
  min-width: 14px;
}

.item-input-inset {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.item-input-inset input, .item-input-inset textarea, .item-input-inset select {
  margin-bottom: 0;
}

.item-input-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background: #eee;
}

.item-input-inset .item-input-wrapper input {
  padding-left: 4px;
  height: 29px;
  background: inherit;
  line-height: 18px;
}

.item-input-wrapper ~ .button {
  margin-left: 10px;
}

.input-label {
  padding: 7px 10px 7px 3px;
  max-width: 200px;
  color: #444;
  font-weight: bold;
  font-size: 16px;
}

.placeholder-icon {
  color: #aaa;
}
.placeholder-icon:first-child {
  padding-right: 6px;
}
.placeholder-icon:last-child {
  padding-left: 6px;
}

.item-stacked-label {
  display: block;
  background-color: transparent;
  box-shadow: none;
}
.item-stacked-label .input-label, .item-stacked-label .icon {
  display: inline-block;
  padding: 4px 0;
  vertical-align: middle;
}

.item-stacked-label input,
.item-stacked-label textarea {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  padding: 4px 8px 3px;
  border: none;
  background-color: #fff;
}

.item-stacked-label input {
  height: 50px;
}

.item-select select {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  text-indent: 0.01px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/**
 * Bar (Headers and Footers)
 * --------------------------------------------------
 */
.bar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 44px;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  background-color: white;
  background-size: 0;
}
.bar.fixed-top, .bar.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bar.fixed-top {
  top: 0;
}
.bar.fixed-bottom {
  bottom: 0;
}
.bar.transparent {
  background-color: rgba(255, 255, 255, 0.8);
}
.bar.item-input-inset .item-input-wrapper {
  margin-top: -1px;
}
.bar.item-input-inset .item-input-wrapper input {
  padding-left: 8px;
  height: 28px;
}
.bar .title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px;
  padding: 0 50px;
  min-width: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  color: #444;
  line-height: 44px;
}
.bar .title.title-left {
  text-align: left;
}
.bar .title.title-right {
  text-align: right;
}
.bar a {
  color: inherit;
}
.bar .icon {
  position: absolute;
  top: 50%;
  max-width: 40px;
  max-height: 32px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.bar .icon.left {
  left: 10px;
}
.bar .icon.right {
  right: 10px;
}
.bar .icon img {
  height: 100%;
}

.header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}

.footer {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
}

.tabs {
  padding: 0;
}

/**
 * Items
 * --------------------------------------------------
 */
.item {
  color: #444;
  background-color: #fff;
  border-color: #ddd;
  -webkit-transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 11px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}
.item h2 {
  margin: 0 0 4px 0;
  font-size: 16px;
}
.item h3 {
  margin: 0 0 4px 0;
  font-size: 14px;
}
.item h4 {
  margin: 0 0 4px 0;
  font-size: 12px;
}
.item h5, .item h6 {
  margin: 0 0 3px 0;
  font-size: 10px;
}
.item p {
  color: #666;
  font-size: 14px;
}
.item h1:last-child,
.item h2:last-child,
.item h3:last-child,
.item h4:last-child,
.item h5:last-child,
.item h6:last-child,
.item p:last-child {
  margin-bottom: 0;
}
.item .badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.item.item-divider .badge {
  top: 7.5px;
}
.item .badge + .badge {
  margin-right: 5px;
}
.item.align-right .item-content {
  text-align: right;
}

.item.active:not(.item-divider):not(.item-input):not(.item-input-inset) {
  background-color: #D9D9D9;
  border-color: #ccc;
}

.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.item {
  color: inherit;
  text-decoration: none;
}
a.item:hover, a.item:focus {
  text-decoration: none;
}

a.item-content {
  display: block;
  color: inherit;
  text-decoration: none;
}

.item-text-wrap .item,
.item-text-wrap,
.item-text-wrap h1,
.item-text-wrap h2,
.item-text-wrap h3,
.item-text-wrap h4,
.item-text-wrap h5,
.item-text-wrap h6,
.item-text-wrap p,
.item-complex.item-text-wrap .item-content,
.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
  overflow: hidden;
  white-space: normal;
}

.item-body {
  overflow: auto;
  padding: 11px 15px;
  text-overflow: inherit;
  white-space: normal;
}
.item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p {
  margin-top: 0;
  margin-bottom: 15px;
}
.item-body .button.right-corner {
  position: absolute;
  right: 15px;
  top: 11px;
}

/**
 * Item Icons
 * --------------------------------------------------
 */
.item-icon-left .icon,
.item-icon-right .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.item-icon-left .icon.align-top,
.item-icon-right .icon.align-top {
  top: 11px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

.item .fill-icon {
  min-width: 30px;
  min-height: 30px;
  font-size: 28px;
}

.item-icon-left {
  padding-left: 45px;
}
.item-icon-left .icon {
  left: 12.5px;
}

.item-icon-right {
  padding-right: 45px;
}
.item-icon-right .icon {
  right: 12.5px;
}

.item-icon-left.item-icon-right .icon:first-child {
  right: auto;
}

.item-icon-left.item-icon-right .icon:last-child {
  left: auto;
}

/**
 * Item Button
 * --------------------------------------------------
 * An item button is a child button inside an .item (not the entire .item)
 * Only support right button
 */
.item-button-right,
a.item.item-button-right,
button.item.item-button-right {
  padding-right: 110px;
}

.item-button-right > .button,
.item-button-right .item-content > .button,
.item-button-right > .buttons,
.item-button-right .item-content > .buttons {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  min-width: 66px;
  min-height: 34px;
  font-size: 14px;
  line-height: 32px;
}
.item-button-right > .button .icon:before,
.item-button-right .item-content > .button .icon:before,
.item-button-right > .buttons .icon:before,
.item-button-right .item-content > .buttons .icon:before {
  position: relative;
  left: auto;
  width: auto;
  line-height: 31px;
}
.item-button-right > .button > .button,
.item-button-right .item-content > .button > .button,
.item-button-right > .buttons > .button,
.item-button-right .item-content > .buttons > .button {
  margin: 0px 2px;
  min-width: 34px;
  min-height: 34px;
  font-size: 14px;
  line-height: 32px;
}

/**
 * Item text label
 * --------------------------------------------------
 * Only support left label
 */
.item-label {
  padding-left: 110px;
}
.item-label > label, .item-label > .label-left {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 90px;
  height: 38px;
  line-height: 38px;
  padding-right: 5px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.item-label > label.align-top, .item-label > .label-left.align-top {
  top: 11px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

/**
 * Auto Right Arrow Icon
 * --------------------------------------------------
 * By default, if an .item is created out of an <a> or <button>
 * then a arrow will be added to the right side of the item.
 */
a.item,
button.item,
.item a[href].item-content,
.item[ng-click] a.item-content {
  padding-right: 30px;
}

a.item:after,
button.item:after,
.item a[href].item-content:after {
  /* By default, both <a> and <button> have right side arrow icons */
  position: absolute;
  top: 50%;
  right: 11px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: " ";
  width: 16px;
  height: 16px;
  background-image: url(../images/chevron-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

a.item-icon-right:after,
button.item-icon-right:after,
a.item-button-right:after,
button.item-button-right:after,
.item a.item-content:after {
  display: none;
}

.item-avatar {
  padding-left: 70px;
  min-height: 70px;
}
.item-avatar img:first-child, .item-avatar .item-img {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-left: 105px;
  min-height: 100px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left > .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content > .item-image {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  border: 1px solid #ddd;
}

.item-thumbnail-left.item-complex {
  padding-left: 0;
}

.item-thumbnail-right,
.item-thumbnail-right .item-content {
  padding-right: 105px;
  min-height: 100px;
}
.item-thumbnail-right > img:first-child, .item-thumbnail-right > .item-image,
.item-thumbnail-right .item-content > img:first-child,
.item-thumbnail-right .item-content > .item-image {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 80px;
  max-height: 80px;
  width: 100%;
}

.item-thumbnail-left.item-complex {
  padding-right: 0;
}

.item-thumbnail-left.align-top > img:first-child, .item-thumbnail-left.align-top > .item-image,
.item-thumbnail-right.align-top > img:first-child,
.item-thumbnail-right.align-top > .item-image {
  top: 11px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

.item-image {
  padding: 0;
  text-align: center;
}
.item-image img:first-child, .item-image .list-img {
  width: 100%;
  vertical-align: middle;
}

.item-divider {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: bold;
}
.item-divider.ceiling {
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 12px;
  font-weight: normal;
}
.item-divider.floor {
  padding-top: 15px;
  padding-bottom: 0;
}

.item-note {
  float: right;
  color: #aaa;
  font-size: 14px;
}

/**
 * Lists
 * --------------------------------------------------
 */
.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}

/* If a list is the last item in a container, don't add margin-bottom */
.list:last-child {
  margin-bottom: 0px;
}

/**
 * List editing styles. These trigger when the entire list goes into
 * "edit mode" or reordering list items
 */
.list-editing .item-content {
  -webkit-transform: translate3d(50px, 0, 0);
  -moz-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}

.list-reordering .item-content {
  margin-right: 50px;
}
.list-reordering .item-drag {
  z-index: 1;
}

/**
 * List Header
 * --------------------------------------------------
 */
.list-header {
  margin-top: 20px;
  padding: 5px 15px;
  background-color: transparent;
  color: #222;
  font-weight: bold;
}

.card.list .list-item {
  padding-right: 1px;
  padding-left: 1px;
}

/**
 * Inset Lists
 * --------------------------------------------------
 */
.list-inset {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 4px;
  background-color: #fff;
}

.list-inset .item:first-child,
.padding > .list .item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-inset .item:first-child .item-content,
.padding > .list .item:first-child .item-content {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-inset .item:last-child,
.padding > .list .item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-inset .item:last-child .item-content,
.padding > .list .item:last-child .item-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-inset .item:last-child {
  margin-bottom: -1px;
}

.list-inset .item,
.padding > .list .item,
.padding-horizontal > .list .item {
  margin-right: 0;
  margin-left: 0;
}

.padding-left > .list .item {
  margin-left: 0;
}

.padding-right > .list .item {
  margin-right: 0;
}

/**
 * List group
 * --------------------------------------------------
 */
.list-group {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group:last-child {
  margin-bottom: 0;
}
.list-group .list-group-item {
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
  line-height: 1.42857;
  *zoom: 1;
}
.list-group .list-group-item:before, .list-group .list-group-item:after {
  content: " ";
  display: table;
  line-height: 0;
}
.list-group .list-group-item:after {
  clear: both;
}
.list-group .list-group-item label,
.list-group .list-group-item .label,
.list-group .list-group-item .label-wide,
.list-group .list-group-item .label-wider {
  float: left;
  display: block;
  font-size: inherit;
  font-weight: bold;
}
.list-group .list-group-item label.control-label,
.list-group .list-group-item .label.control-label,
.list-group .list-group-item .label-wide.control-label,
.list-group .list-group-item .label-wider.control-label {
  line-height: 38px;
}
.list-group .list-group-item label,
.list-group .list-group-item .label {
  width: 52px;
}
.list-group .list-group-item label + .description,
.list-group .list-group-item .label + .description {
  margin-left: 52px;
}
.list-group .list-group-item .label-wide {
  width: 70px;
}
.list-group .list-group-item .label-wide + .description {
  margin-left: 70px;
}
.list-group .list-group-item .label-wider {
  width: 90px;
}
.list-group .list-group-item .label-wider + .description {
  margin-left: 90px;
}
.list-group .list-group-item .description {
  margin-bottom: 0;
  padding: 0 0 0 3px;
  font-size: inherit;
}
.list-group .list-group-item .description.form-control input, .list-group .list-group-item .description.form-control select, .list-group .list-group-item .description.form-control textarea {
  margin-bottom: 0;
}

/**
 * Division
 * --------------------------------------------------
 */
.division {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #666;
  *zoom: 1;
}
.division:before, .division:after {
  content: " ";
  display: table;
  line-height: 0;
}
.division:after {
  clear: both;
}
.division li {
  float: left;
  padding: 0 5px;
  border-right: 1px solid #ddd;
}
.division li h3 {
  font-size: 16px;
  line-height: 20px;
  color: #222;
  margin: 0 0 5px 0;
}
.division li p {
  font-size: inherit;
  line-height: 18px;
  margin: 0 0 5px 0;
}
.division li p:last-child {
  margin-bottom: 0;
}
.division li:last-child {
  border-right: 0;
}
.division.large li {
  padding: 0 10px;
  font-size: 16px;
}
.division.large li h3 {
  font-size: 18px;
  line-height: 22px;
}
.division.large li p {
  line-height: 20px;
}

/**
 * Buttons
 * --------------------------------------------------
 */
.button {
  color: #444;
  background-color: #fff;
  border-color: #ddd;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 8px 0 8px;
  min-width: 40px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 45px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  color: #444;
  text-decoration: none;
}
.button.active {
  background-color: #f8f8f8;
  border-color: #b2b2b2;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button:after {
  position: absolute;
  top: -6px;
  right: -8px;
  bottom: -6px;
  left: -8px;
  content: ' ';
}
.button .icon {
  vertical-align: top;
}
.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
  display: inline-block;
  padding: 0 0 1px 0;
  vertical-align: inherit;
  font-size: 24px;
  line-height: 42px;
}
.button.button-block, .button.button-full {
  margin-top: 10px;
  margin-bottom: 10px;
}
.button.button-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.button.button-primary:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-primary.active {
  background-color: #2a6496;
  border-color: #2a6496;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button.button-primary.button-clear {
  color: #428bca;
  background: none;
  border-color: transparent;
  box-shadow: none;
}
.button.button-primary.button-icon {
  background: none;
  border-color: transparent;
}
.button.button-primary.button-outline {
  background: #fff;
  border-color: #428bca;
  color: #428bca;
}
.button.button-primary.button-outline.active {
  background-color: #428bca;
  color: #fff;
  box-shadow: none;
}
.button.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.button.button-success:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-success.active {
  background-color: #3d8b3d;
  border-color: #3d8b3d;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button.button-success.button-clear {
  color: #5cb85c;
  background: none;
  border-color: transparent;
  box-shadow: none;
}
.button.button-success.button-icon {
  background: none;
  border-color: transparent;
}
.button.button-success.button-outline {
  background: #fff;
  border-color: #5cb85c;
  color: #5cb85c;
}
.button.button-success.button-outline.active {
  background-color: #5cb85c;
  color: #fff;
  box-shadow: none;
}
.button.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.button.button-warning:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-warning.active {
  background-color: #df8a13;
  border-color: #df8a13;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button.button-warning.button-clear {
  color: #f0ad4e;
  background: none;
  border-color: transparent;
  box-shadow: none;
}
.button.button-warning.button-icon {
  background: none;
  border-color: transparent;
}
.button.button-warning.button-outline {
  background: #fff;
  border-color: #f0ad4e;
  color: #f0ad4e;
}
.button.button-warning.button-outline.active {
  background-color: #f0ad4e;
  color: #fff;
  box-shadow: none;
}
.button.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.button.button-danger:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-danger.active {
  background-color: #b52b27;
  border-color: #b52b27;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button.button-danger.button-clear {
  color: #d9534f;
  background: none;
  border-color: transparent;
  box-shadow: none;
}
.button.button-danger.button-icon {
  background: none;
  border-color: transparent;
}
.button.button-danger.button-outline {
  background: #fff;
  border-color: #d9534f;
  color: #d9534f;
}
.button.button-danger.button-outline.active {
  background-color: #d9534f;
  color: #fff;
  box-shadow: none;
}

.button-small {
  padding: 0 4px;
  min-width: 28px;
  min-height: 31px;
  font-size: 12px;
  line-height: 28px;
}
.button-small .icon:before, .button-small.icon:before, .button-small.icon-left:before, .button-small.icon-right:before {
  font-size: 16px;
  line-height: 26px;
}

.button-icon {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 0 6px;
  min-width: initial;
  border-color: transparent;
  background: none;
}
.button-icon.button.active {
  border-color: transparent;
  background: none;
  box-shadow: none;
  opacity: 0.3;
}

.button-clear {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 0 6px;
  max-height: 42px;
  border-color: #fff;
  background: none;
  box-shadow: none;
}
.button-clear.button-clear {
  color: #fff;
  background: none;
  border-color: transparent;
  box-shadow: none;
}
.button-clear.button-icon {
  background: none;
  border-color: transparent;
}
.button-clear.active {
  opacity: 0.3;
}

.button-outline {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  background: none;
  box-shadow: none;
}
.button-outline.button-outline {
  background: #fff;
  border-color: #fff;
  color: #fff;
}
.button-outline.button-outline.active {
  background-color: #fff;
  color: #fff;
  box-shadow: none;
}

.padding > .button.button-block:first-child {
  margin-top: 0;
}

.button-block {
  display: block;
  clear: both;
}
.button-block:after {
  clear: both;
}

.button-full,
.button-full > .button {
  display: block;
  margin-right: 0;
  margin-left: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

button.button-block,
button.button-full,
.button-full > button.button,
input.button.button-block {
  width: 100%;
}

.button.disabled,
.button[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
