/**
 * Time line
 * --------------------------------------------------
 */


$timeline-axis-default:         3px;
$timeline-item-margin:          20px;
$timeline-panel-border-radius:  2px;
$timeline-arrow-width:          9px;
$timeline-badge-size:           6px;
$timeline-badge-color:          #777;


.timeline {
  position: relative;
  margin-bottom: $content-margin;
  padding: $content-padding 0;
  list-style: none;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    content: " ";
    width: $timeline-axis-default;
    background-color: #eee;
    @include translate(-($timeline-axis-default / 2), 0);
  }

  li {
    position: relative;
    margin-bottom: $timeline-item-margin;
    @include clearfix();

    > .timeline-panel {
      position: relative;
      padding: $content-padding;
      width: 46%;
      float: left;
      border-radius: $timeline-panel-border-radius;
      border: 1px solid $button-default-border;

      &:before,
      &:after {
        position: absolute;
        content: " ";
        top: 12px;
        display: inline-block;
        border: $timeline-arrow-width solid transparent;
      }

      &:before {
        right: -$timeline-arrow-width;
        border-left-color: $button-default-border;
        border-right-width: 0;
      }

      &:after {
        right: -($timeline-arrow-width - 1);
        border-left-color: #fff;
        border-right-width: 0;
      }
    }

    > .timeline-badge {
      position: absolute;
      top: 20px;
      left: 50%;
      width: $timeline-badge-size;
      height: $timeline-badge-size;
      background-color: $timeline-badge-color;

      @include translate(-($timeline-badge-size / 2), 0);
      @include border-radius(50%);
    }

    > .timeline-time {
      position: absolute;
      top: ($timeline-badge-size / 2) + 20;
      right: 0;
      @include translate(0, -10px);
      width: 46%;
    }

    &.timeline-inverse {
       > .timeline-panel {
        float: right;

        &:before {
          border-right: $timeline-arrow-width solid $button-default-border; 
          border-left-width: 0;
          left: -$timeline-arrow-width;
          right: auto;
        }

        &:after {
          border-right: $timeline-arrow-width solid #fff;
          border-left-width: 0;
          left: -($timeline-arrow-width - 1);
          right: auto;
        }
       }

       > .timeline-time {
        left: 0;
        text-align: right;
       }
    }
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body {
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    margin-bottom: 0;
  }
}