/**
 * Alert
 * ==========================================================================
 * alert always appears at the page top
 */

.alert {
  position: fixed;
  height: $bar-height;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: $z-index-bar;
  @include translateZ(0);

  &.primary {
    background-color: saturate($brand-primary, 10%);
  }

  &.success {
    background-color: saturate($brand-success, 10%);
  }

  &.warning {
    background-color: saturate($brand-warning, 10%);
  }

  &.danger {
    background-color: saturate($brand-danger, 10%);
  }
}

.alert-in {
  @include animation(slidein 240ms cubic-bezier(.36, .66, .04, 1));
}

.alert-out {
  @include animation(slideout 240ms cubic-bezier(.36, .66, .04, 1));
}

@keyframes slidein {
  0% { transform: translate3d(0, -100%, 0); opacity: 0.5; }
  100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

@-webkit-keyframes slidein {
  0% { -webkit-transform: translate3d(0, -100%, 0); opacity: 0.5; }
  100% { -webkit-transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes slideout {
  0% { transform: translate3d(0, 0, 0); opacity: 1; }
  100% { transform: translate3d(0, -100%, 0); opacity: 0.5; }
}

@-webkit-keyframes slideout {
  0% { -webkit-transform: translate(0, 0, 0); opacity: 1; }
  100% { -webkit-transform: translate3d(0, -100%, 0); opacity: 0.5; }
}