/**
 * Animations
 * ==========================================================================
 */

// Fade utils

.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
}

.fade.in {
  opacity: 1;
}

.collapsed {
  display: none;
}

.collapsed.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height .35s ease);
}

// backdrop

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-backdrop;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
  @include translateZ(0);
}