/**
 * Bar (Headers and Footers)
 * ==========================================================================
 */

.bar {
  padding: 5px;
  width: 100%;
  height: $bar-height;
  position: relative;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid $bar-default-border;
  border-bottom: 1px solid $bar-default-border;

  background-color: $bar-default-bg;
  background-size: 0;

  &.fixed-top,
  &.fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $z-index-bar;
    @include translate3d(0, 0, 0);
  }

  &.fixed-top {
    top: 0;
  }

  &.fixed-bottom {
    bottom: 0;
  }

  &.transparent {
    background-color: $bar-transparent-bg;
  }

  a {
    color: inherit;
  }

}

// Title inside of a bar is centered

.bar .title {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;

  margin: 0 10px;
  padding: 0 80px;

  min-width: 30px;

  text-align: center;

  // Go into ellipsis if too small
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: $bar-title-font-size;
  color: $bar-default-text;

  line-height: $bar-height;

  &.title-left {
    text-align: left;
  }
  &.title-right {
    text-align: right;
  }
}

// bar with left and right
// bar left and right style strategy should be redesigned!!!
.bar .left,
.bar .right {
  position: absolute;
  top: 50%;
  @include translate(0, -50%);
  max-width: 56px;  // temporary fix for text too long
  z-index: 1;

  color: inherit;
  font-size: 14px;
  line-height: $bar-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.bar .left {
  left: 5px;
}

.bar .right {
  right: 5px;
}

// Header at top

.header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}

// Footer at bottom

.footer {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
}

// Don't render padding if the bar is just for tabs

.tabs {
  padding: 0;
}

// bar input
// --------------------------------------------------

.bar .bar-input-wrapper {
  position: absolute;
  left: 60px;
  right: 5px;
}

.bar-input-wrapper {
  position: relative;
  
  input {
    position: relative;
    float: left;
    margin: 0;
    height: $bar-height - 12;
    border: 0;
    border-radius: 6px;
    background: #eee;
    font-size: 14px;
    @include transition(width .35s ease);
    z-index: 1;

    &:focus {
      width: 80%;

      + .bar-input-link {
        opacity: 1;
      }
    }
  }

  .bar-input-link {
    position: absolute;
    top: 50%;
    right: 10px;
    opacity: 0;
    @include translate(0, -50%);
    @include transition(opacity .35s ease);
    z-index: 0;
  }
}
