/**
 * Bar (Headers and Footers)
 * ==========================================================================
 */

.bar {
  width: 100%;
  height: $bar-height;
  position: relative;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid $bar-default-border;
  border-bottom: 1px solid $bar-default-border;

  background-color: $bar-default-bg;
  background-size: 0;

  &.fixed-top,
  &.fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $z-index-bar;
    @include translate3d(0, 0, 0);
  }

  &.fixed-top {
    top: 0;
  }

  &.fixed-bottom {
    bottom: 0;
  }

  &.transparent {
    background-color: $bar-transparent-bg;
  }

  a {
    color: inherit;
  }

}

// Title inside of a bar is centered

.bar .title {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;

  margin: 0 80px;

  min-width: 30px;

  text-align: center;

  // Go into ellipsis if too small
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: $bar-title-font-size;
  color: $bar-default-text;

  line-height: $bar-height;

  &.title-left {
    text-align: left;
  }
  &.title-right {
    text-align: right;
  }
}

// bar with left and right using float currently
.bar .left,
.bar .right {
  padding: 5px;

  color: inherit;
  font-size: 14px;
  line-height: $bar-height - 10px;
  white-space: nowrap;
}

.bar .left {
  float: left;
}

.bar .right {
  float: right;
}

// Header at top

.header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}

// Footer at bottom

.footer {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
}

// Footer tabs
// --------------------------------------------------
.footer .tabs {
  height: 100%;
}

.footer .tabs-icon-top.tabs .tab-item {
  padding: 2px 0 0;  // for icons not overlapping footer top border
}

// TODO bar input
// --------------------------------------------------
