/**
 * Buttons
 * ==========================================================================
 */

.button {
  // set the color defaults
  @include button-style($button-default-bg, $button-default-border, $button-default-text);

  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 $button-padding;

  min-width: ($button-padding * 3) + $button-font-size;
  min-height: $button-height;

  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;

  text-align: center;
  font-size: $button-font-size;
  line-height: $button-height - ($button-border-width * 2);
  font-weight: 500;

  cursor: pointer;

  &:after {
    // used to create a larger button "hit" area
    position: absolute;
    top: -6px;
    right: -8px;
    bottom: -6px;
    left: -8px;
    content: ' ';
  }

  &.button-block, &.button-full {
    margin-top: $button-block-margin;
    margin-bottom: $button-block-margin;
  }
  &.button-primary {
    @include button-style($button-primary-bg, $button-primary-border, $button-primary-text);
    @include button-outline($button-primary-bg);
    @include button-clear($button-primary-bg);
  }
  &.button-success {
    @include button-style($button-success-bg, $button-success-border, $button-success-text);
    @include button-outline($button-success-bg);
    @include button-clear($button-success-bg);
  }
  &.button-warning {
    @include button-style($button-warning-bg, $button-warning-border, $button-warning-text);
    @include button-outline($button-warning-bg);
    @include button-clear($button-warning-bg);
  }
  &.button-danger {
    @include button-style($button-danger-bg, $button-danger-border, $button-danger-text);
    @include button-outline($button-danger-bg);
    @include button-clear($button-danger-bg);
  }
}

.button-small {
  padding: 0 $button-small-padding;
  min-width: $button-small-height;
  min-height: $button-small-height + 3;
  font-size: $button-small-font-size;
  line-height: $button-small-height - $button-border-width + 1;
}

.button-outline {
  @include transition(opacity .1s);
  background: none;
  box-shadow: none;
}

.button-clear {
  @include button-clear($button-default-border);
  padding: 0 6px;
  max-height: $button-height;
  border-color: transparent;
  background: none;
  box-shadow: none;

  &.active,
  &.activated {
    opacity: 0.3;
  }
}

.padding {

  > .button-block:first-child {
    margin-top: 0;  
  }
  
  > .button-block:last-child {
    margin-bottom: 0;
  }
}

.button-block {
  display: block;
  clear: both;

  &:after {
    clear: both;
  }
}

.button-full,
.button-full > .button {
  display: block;
  margin-right: 0;
  margin-left: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

button.button-block,
button.button-full,
.button-full > button.button,
input.button.button-block  {
  width: 100%;
}

.button.disabled,
.button[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
