/**
 * Forms
 * ==========================================================================
 */

// Make legend visually hidden on page
// Note: do not recommend render form with default legend style on mobile

legend {
  width: 0px;
  height: 1px;
  overflow: hidden;
}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include font-shorthand($font-size-base, normal, $line-height-base); // Set size, weight, line-height here
}

// Form Controls
// --------------------------------------------------

// Shared size and type resets

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
  height: $line-height-computed + $input-font-size;

  @include appearance(none); // reset appearance
  background-color: $input-bg;
  color: $dark;
  vertical-align: middle;
  font-size: $input-font-size;
  border: 1px solid $input-border-color;
  border-radius: $border-radius-base;
  line-height: 1.2; // here prefer unitless number instead of length(px, em or rem)
}

// Rounded search input

input[type="search"] {
  font-size: 16px;
  border-radius: 20px;
  @include box-sizing(border-box); // Override content-box in normalize
}

// Reset height since textareas have rows

textarea {
  height: auto;
}

// Position radios and checkboxes better

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Make multiple select elements height not fixed

select[multiple],
select[size] {
  height: auto;
}

// Make select elements obey height by applying a border
select {
  border: 1px solid $input-border-color;
  background-color: $input-bg; // Chrome on Linux and Mobile Safari need background-color
}


// Placeholder
// --------------------------------------------------

input,
textarea {
  @include placeholder();
}

// DISABLED STATE
// --------------------------------------------------

// Disabled and read-only inputs

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: $input-bg-disabled;
  cursor: not-allowed;
}

// Explicitly reset the colors here

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

// Add textarea vertical padding

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

// Input group
// --------------------------------------------------

.input-group {
  position: relative;
  display: table;
  margin-bottom: 15px;
  border-collapse: separate;

  input {
    margin-bottom: 0;
    width: 100%;
  }

  input:first-child {
    padding-right: 0;
  }

  input:last-child {
    padding-left: 0;
  }

  .input-group-addon:first-child,
  input:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-addon:last-child,
  input:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.search .input-group-addon:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.input-group-addon {
  padding: 5px 10px;
  border: 1px solid $input-border-color;
  border-radius: $border-radius-base;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}

.input-group-addon,
.input-group input {
  display: table-cell;
}

// Fancy form field row
// --------------------------------------------------

.field-row {
  position: relative;
  margin-top: -1px;
  padding: 8px 0;
  border-top: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  background-color: #fff;

  .form-control {
    margin: 0;
    border: 0;
    height: $line-height-computed + $input-font-size - 2;
  }

  label:first-child,
  .icon:first-child,
  .suffix {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
  }

  label {
    left: $content-padding;
    font-size: $input-font-size;

    + .form-control {
      padding-left: $content-padding * 2 + $input-font-size * 4;
      font-weight: bold;
    }
  }

  .icon:first-child {
    left: $content-padding;
    font-size: $input-font-size;

    + .form-control {
      padding-left: $content-padding * 2 + $icon-size;
    }
  }

  .label-wide + .form-control {
    padding-left: $content-padding * 2 + $input-font-size * 6;
    font-weight: bold;
  }

  .suffix {
    right: $content-padding;
  }

  .has-suffix {
    padding-right: $content-padding * 2 + $input-font-size * 2;
  }

  .has-wide-suffix {
    padding-right: $content-padding * 2 + $input-font-size * 4;
  }

  .has-xwide-suffix {
    padding-right: $content-padding * 2 + $input-font-size * 6;
  }

  // make select not so ugly

  select {
    display: block;
    margin: 0;
    width: 100%;
    border: none;
    background-color: #fff;
    white-space: nowrap;
    cursor: pointer;
    text-indent: 0.01px;
    @include appearance(none);
  }

  // support textarea twice height

  textarea.form-control {
    height: 50px;
  }

  // support label, icon, button and anything other to align top

  &.align-top label:first-child,
  &.align-top .icon:first-child,
  &.align-top .suffix {
    top: 12px;
    @include transform(translateY(0));
  }

}

.field-row-divider {
  margin-bottom: 20px;
}

// Fancy form fieldset
// --------------------------------------------------

// override fieldset and legend in fancy form

.fancy-form {

  fieldset {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border: 0;
  }

  legend {
    width: auto;
    height: $input-font-size * 1.1;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: $input-font-size;
    font-weight: bold;
  }
} 

