/**
 * Icons
 * ==========================================================================
 */
 
$icon-image-path:    "../images/" !default;
$icon-prefix:        "icon-";

$icon-var-gray-loading:   "gray-loading.png";
$icon-var-loading:        "loading.png";

.icon {
  position: relative;
  display: inline-block;
  padding: 0;
  width: $icon-size;
  height: $icon-size;
  vertical-align: middle;

  &:before {
    content: " ";
    position: absolute;
    display: block;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &.icon-large,
  &.icon-large:before {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  &.icon-small,
  &.icon-small:before {
    width: $icon-small-size;
    height: $icon-small-size;
  }
}

// Animation Icons
// --------------------------------------------------

.#{$icon-prefix}spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.#{$icon-prefix}loading,
.#{$icon-prefix}gray-loading {
  @extend.#{$icon-prefix}spin;
}


.#{$icon-prefix}load:before { background-image: url(#{$icon-image-path}#{$icon-var-loading}); }
.#{$icon-prefix}loading:before { @extend .#{$icon-prefix}load:before; }

// Pseudo icons
// --------------------------------------------------

.#{$icon-prefix}chevron-left:before,
.#{$icon-prefix}chevron-right:before,
.#{$icon-prefix}chevron-up:before,
.#{$icon-prefix}chevron-down:before {
  width: $pseudo-icon-size;
  height: $pseudo-icon-size;
  top: 50%;
  left: 50%;
  border: 0px solid $icon-default-color;
}

.#{$icon-prefix}chevron-left.icon-small:before,
.#{$icon-prefix}chevron-right.icon-small:before,
.#{$icon-prefix}chevron-up.icon-small:before,
.#{$icon-prefix}chevron-down.icon-small:before {
  width: $pseudo-icon-small-size;
  height: $pseudo-icon-small-size;
}

.#{$icon-prefix}chevron-left:before {
  border-left-width: 3px;
  border-bottom-width: 3px;
  @include transform(translate(-50%, -50%) rotate(45deg));
}

.#{$icon-prefix}chevron-right:before {
  border-right-width: 3px;
  border-bottom-width: 3px;
  @include transform(translate(-50%, -50%) rotate(-45deg));
}

.#{$icon-prefix}chevron-up:before {
  border-top-width: 3px;
  border-right-width: 3px;
  @include transform(translate(-50%, -25%) rotate(-45deg));
}

.#{$icon-prefix}chevron-down:before {
  border-right-width: 3px;
  border-bottom-width: 3px;
  @include transform(translate(-50%, -70%) rotate(45deg));
}
