/**
 * List items
 * ==========================================================================
 */

.item {
  @include item-style($item-default-bg, $item-default-border, $item-default-text);
  @include transition(margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, left 0.2s ease-in-out);

  position: relative;
  z-index: $z-index-item; // Make sure the borders and stuff don't get hidden by children
  display: block;

  margin: $item-border-width * -1;
  padding: $item-padding;
  min-height: $line-height-computed + $item-padding * 2;

  border-width: $item-border-width;
  border-style: solid;
  font-size: $item-font-size;

  h2 {
    margin: 0 0 4px 0;
    font-size: 16px;
  }
  h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
  }
  h4 {
    margin: 0 0 4px 0;
    font-size: 12px;
  }
  h5, h6 {
    margin: 0 0 3px 0;
    font-size: 10px;
  }
  p {
    color: #666;
    font-size: 14px;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }

  &.align-right,
  &.align-right .item-content {
    text-align: right;
  }
}

// Link and Button Active States
.item.active:not(.item-divider) {
  @include item-active-style($item-default-active-bg, $item-default-active-border);
}

// Handle text overflow
.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Linked list items
a.item {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    @include item-active-style($item-default-active-bg, $item-default-active-border);
  }
}

a.item-content {
  display: block;
  color: inherit;
  text-decoration: none;
}

.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
  overflow: hidden;
  white-space: normal;
}

// Item Body
// --------------------------------------------------

.item-body {
  overflow: auto;
  padding: $item-padding - 4 $item-padding;
  text-overflow: inherit;
  white-space: normal;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: $item-padding;
  }

  .button.right-corner {
    position: absolute;
    right: 15px;
    top: 11px;
  }
}

// Chevron right arrow
// --------------------------------------------------

.item.chevron-right {
  padding-right: $item-padding + $item-chevron-width;

  &:after {
    position: absolute;
    content: " ";
    right: $item-padding;
    top: 50%;
    width: 12px;
    height: 12px;
    border: 0px solid $item-default-active-border;
    border-right-width: 3px;
    border-bottom-width: 3px;
    @include transform(translate(0, -50%) rotate(-45deg));
  }
}

// Item Avatar
// --------------------------------------------------

.item-avatar {
  padding-left: $item-avatar-width + ($item-padding * 2);
  min-height: $item-avatar-width + ($item-padding * 2);

  .item-image {
    position: absolute;
    top: $item-padding - 4;
    left: $item-padding;
    max-width: $item-avatar-width;
    max-height: $item-avatar-height;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $button-default-border;
  }
}

// Item Thumbnails
// --------------------------------------------------

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-left: $item-thumbnail-width + ($item-padding * 2);
  // min height needs to be reconsidered
  // temporarily commented
  // min-height: $item-thumbnail-height + ($item-padding * 2);

  > .item-image {
    position: absolute;
    top: 50%;
    left: $item-padding;
    @include translate(0, -50%);
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
    border: 1px solid $item-default-border;
  }
}

.item-thumbnail-right,
.item-thumbnail-right .item-content {
  padding-right: $item-thumbnail-width + ($item-padding * 2);
  min-height: $item-thumbnail-height + ($item-padding * 2);

  > .item-image {
    position: absolute;
    top: 50%;
    right: $item-padding;
    @include translate(0, -50%);
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
  }
}

.item-thumbnail-right.chevron-right {
  padding-right: $item-thumbnail-width + ($item-padding * 2) + $item-chevron-width;

  > .item-image {
    right: ($item-padding * 2) + $item-chevron-width;
  }
}

.item-thumbnail-left.align-top > .item-image,
.item-thumbnail-right.align-top > .item-image {
  top: $item-padding;
  @include translate(0, 0);
}

.item-thumbnail-left.single-line,
.item-thumbnail-right.single-line {
  line-height: $item-thumbnail-height;
}

// Item Image
// --------------------------------------------------

.item-image {
  padding: 0;
  text-align: center;

  img:first-child, .list-img {
    width: 100%;
    vertical-align: middle;
  }
}

// Item Divider
// --------------------------------------------------

.item-divider {
  position: relative;
  margin: $item-border-width * -1;
  padding: $item-padding / 2 $item-padding;
  min-height: $item-padding * 3;
  background-color: $item-divider-bg;
  border: 1px solid $item-default-border;
  color: $item-divider-color;
  font-weight: bold;

  &.ceiling {
    padding-top: 0;
    padding-bottom: $item-padding;
    font-size: 12px;
    font-weight: normal;
  }

  &.floor {
    padding-top: $item-padding;
    padding-bottom: 0;
  }
}

// Item button & toggle
// --------------------------------------------------

.item-button,
.item-toggle,
.item-checkbox,
.item-radio, {
  padding-right: $item-padding * 4 + $item-font-size * 2;
}

.item-button .button,
.item-toggle .toggle,
.item-checkbox .checkbox,
.item-radio .radio {
  position: absolute;
  top: 50%;
  right: $item-padding;
  @include translate(0, -50%);
}

.item-button > .button {
  min-width: $item-font-size + ($button-border-width * 2);
  min-height: $item-font-size + ($button-border-width * 2);
  font-size: $item-font-size - 2;
  line-height: $item-button-line-height;
}

// Item left and right layout in one line
// --------------------------------------------------
// This layout require the right part goes before left
// when writing html code

.item-lr {
  margin: 0;
  height: auto;
  overflow: hidden;

  .lr-left {
    width: auto;
    overflow: hidden;
    font-size: inherit;
  }

  .lr-right {
    width: 100px;   // the right part usually is narrower
    float: right;
    text-align: right;  // default to align text right
  }
}

.lr-left p,
.lr-right p {
  margin: 0;
}

// Item icon
// --------------------------------------------------
// TODO

// Item badge
// --------------------------------------------------
// TODO

