// Label
// ==========================================================================

.label {
  display: inline;
  padding: 2px 5px 3px;
  border-radius: $border-radius-base;
  background-color: #a8a8a8;
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}

a.label,
a.label:hover,
a.label:focus {
  text-decoration: none;
  cursor: pointer;
}

.label.success {
  background-color: $brand-success;
}

.label.primary {
  background-color: $brand-primary;
}

.label.warning {
  background-color: $brand-warning;
}

.label.danger {
  background-color: $brand-danger;
}