/**
 * List group
 * ==========================================================================
 */


.list-group {
  position: relative;
  padding-top: $item-border-width;
  padding-bottom: $item-border-width;
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .list-group-item {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
    line-height: $line-height-base;
    @include clearfix();

    label,
    .label,
    .label-wide,
    .label-wider, {
      float: left;
      display: block;
      font-size: inherit;
      font-weight: bold;

      &.control-label {
        line-height: $line-height-computed + $font-size-base;
      }
    }

    label,
    .label {
      width: $list-group-label-default;

      + .description {
        margin-left: $list-group-label-default;
      }
    }

    .label-wide {
      width: $list-group-label-wide;

      + .description {
        margin-left: $list-group-label-wide;
      }
    }

    .label-wider {
      width: $list-group-label-wider;

      + .description {
        margin-left: $list-group-label-wider;
      }
    }

    .description {
      margin-bottom: 0;
      padding: 0 0 0 3px;
      font-size: inherit;

      &.form-control {
        input, select, textarea {
          margin-bottom: 0;
        }
      }
    }
  }
  
}
