/**
 * List
 * ==========================================================================
 */

.list {
  position: relative;
  padding-top: $item-border-width;
  padding-bottom: $item-border-width;
  padding-left: 0; // reset padding because ul and ol
  margin-top: 0; // reset margin top because user agent style
  margin-bottom: 10px;
  overflow: hidden;
}
/* If a list is the last item in a container, don't add margin-bottom */
.list:last-child {
  margin-bottom: 0px;
}


/**
 * List Header
 * --------------------------------------------------
 */

.list-header {
  margin-top: $list-header-margin-top;
  padding: $list-header-padding;
  background-color: $list-header-bg;
  color: $list-header-color;
  font-weight: bold;
}

/**
 * Cohesive list with its' item has no border
 * --------------------------------------------------
 */

.list.cohesive {
  border-top: 1px solid $item-default-border;
  border-bottom: 1px solid $item-default-border;

  .item {
    padding: ($item-padding / 2) $item-padding;
    min-height: initial;
    border: none;
  }
}
