/**
 * Scaffolding
 * ==========================================================================
 */

// best practice for box-sizing
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  @include box-sizing(border-box);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include touch-callout(none);
  @include font-smoothing(antialiased);
  @include text-size-adjust(none);
  @include tap-highlight-transparent();
  @include user-select(none);

  margin: 0;
  padding: 0;

  color: $gray;
  word-wrap: break-word;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-computed;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
}

.content {
  position: relative;
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
}

// Hack to force all relatively and absolutely positioned elements still render while scrolling
// Note: This is a bug for "-webkit-overflow-scrolling: touch"
.content > * {
  @include translateZ(0);
}

.has-header {
  padding-top: $bar-height;
}

.has-footer {
  padding-bottom: $bar-height;
}

// Universal link reset
a {
  color: $brand-primary;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

  &:active {
    color: darken($brand-primary, 10%);
  }
}
