/**
 * Tabs
 * ==========================================================================
 */

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  height: $tabs-height;

  @include tab-style(#fff, #ddd, $brand-default);
}

.tab-item {
  display: table-cell;
  width: 1%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ddd;

  color: inherit;
  font-size: $tabs-text-font-size;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  &:last-child {
    border-right: 0;
  }

  a {
    color: inherit;
  }

  &.active,
  &:active {
    color: $gray;
  }
}

.footer {
  .tab-item {
    border: 0;
  }
}