/**
 * Tabs
 * ==========================================================================
 */

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;

  @include tab-style(#fff, #ddd, $brand-default);
}

.tab-item {
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  border-right: 1px solid #ddd;

  color: inherit;
  font-size: $tabs-text-font-size;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  &:last-child {
    border-right: 0;
  }

  a {
    color: inherit;
    display: block;
    padding: 10px 5px;
  }

  &.active,
  &:active {
    color: $gray;
  }
}

.tabs.justified .tab-item,
.footer .tab-item {
  float: none;
  display: table-cell;
  width: 1%;
}

.tabs.no-divider .tab-item,
.footer .tab-item {
  border: 0;
}

.footer .tab-item {
  height: $tabs-height;
}

// handle tab plugin
.tab-content {
  > .tab-pane {
    display: none;
    visibility: hidden;
  }

  > .active {
    display: block;
    visibility: visible;
  }
}