/**
 * Tag
 * ==========================================================================
 */

.tag {
  display: inline-block;
  padding: 2px 5px 3px;
  border-radius: $border-radius-base;
  background-color: $brand-default;
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;

  // Empty tags collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}

a.tag,
a.tag:hover,
a.tag:focus {
  text-decoration: none;
  cursor: pointer;
}

.tag.success {
  background-color: $brand-success;
}

.tag.primary {
  background-color: $brand-primary;
}

.tag.warning {
  background-color: $brand-warning;
}

.tag.danger {
  background-color: $brand-danger;
}

// Outline style
.tag.outline {
  background-color: #fff;
  color: $brand-default;
  border: 1px solid;

  &.success {
    border-color: $brand-success;
    color: $brand-success;
  }

  &.primary {
    border-color: $brand-primary;
    color: $brand-primary;
  }

  &.warning {
    border-color: $brand-warning;
    color: $brand-warning;
  }

  &.danger {
    border-color: $brand-danger;
    color: $brand-danger;
  }
}
