/**
 * Toggle
 * ==========================================================================
 */

$toggle-width:        52px;
$toggle-height:       32px;
$toggle-border:       20px;

.toggle {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: $toggle-width;
  height: $toggle-height;
  border-radius: $toggle-border;
  vertical-align: middle;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }

  .toggle-switcher {
    position: relative;
    width: $toggle-width;
    height: $toggle-height;
    margin: 0;
    padding: 0;
    border-radius: $toggle-border;
    background-color: #ddd;

    &:before {
      position: absolute;
      content: ' ';
      top: 2px;
      left: 2px;
      z-index: 1;
      width: $toggle-width - 4;
      height: $toggle-height - 4;
      border-radius: $toggle-border;
      background-color: #fff;
      @include transition(.15s);
      @include scale(1);
    }

    &:after {
      position: absolute;
      content: ' ';
      top: 2px;
      left: 2px;
      z-index: 2;
      width: $toggle-height - 4;
      height: $toggle-height - 4;
      border-radius: $toggle-height - 4;
      background-color: #fff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
      @include transition(.15s);
      @include translate(0, 0);
    }
  }

  input[type="checkbox"]:checked + .toggle-switcher {
    background-color: #aaa;

    &:before {
      @include scale(0);
    }

    &:after {
      @include translate($toggle-width - $toggle-height + 1, 0);
    }
  }

  &.primary input[type="checkbox"]:checked + .toggle-switcher {
    background-color: $brand-primary;
  }

  &.success input[type="checkbox"]:checked + .toggle-switcher {
    background-color: $brand-success;
  }

  &.warning input[type="checkbox"]:checked + .toggle-switcher {
    background-color: $brand-warning;
  }

  &.danger input[type="checkbox"]:checked + .toggle-switcher {
    background-color: $brand-danger;
  }
}