/**
 * Utility classes
 * ==========================================================================
 */


// Clearfix

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


// Display

.hide {
  display: none;
}
.opacity-hide {
  opacity: 0;
}
.show {
  display: block;
}
.opacity-show {
  opacity: 1;
}
.invisible {
  visibility: hidden;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}


// Quick floats

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


// Margin & Padding

.margin {
  margin: $content-margin;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: $content-padding;
}

.no-padding {
  padding: 0;
}

// Border

.no-border {
  border: none;
}


// Text color

@include text-emphasis-variant('.text-default', $brand-default);

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

// Disable user behavior

.disable-user-behavior {
  // used to prevent the browser from doing its native behavior. this doesnt 
  // prevent the scrolling, but cancels the contextmenu, tap highlighting, etc

  @include user-select(none);
  @include touch-callout(none);
  @include tap-highlight-transparent();

  -webkit-user-drag: none;
  
  -ms-touch-action: none;
  -ms-content-zooming: none;
}

// User behaviour disable reset

.user-select {
  @include user-select(text);
}

