//
// Variables
// --------------------------------------------------

// Typography

$font-family-base: -app-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 16px !default;

$line-height-base: 1.5 !default;

// Color

$body-bg: #fff !default;
$body-color: #333 !default;