
// Colors
// -------------------------------

$dark:                            #444;
$gray-darker:                     lighten(#000, 13.5%) !default; // #222
$gray-dark:                       lighten(#000, 20%) !default;   // #333
$gray:                            lighten(#000, 33.5%) !default; // #555
$gray-light:                      lighten(#000, 46.7%) !default; // #777
$gray-lighter:                    lighten(#000, 93.5%) !default; // #eee

$brand-default:                   #a8a8a8 !default;
$brand-primary:                   #3A89C9 !default;
$brand-success:                   #61C155 !default;
$brand-warning:                   #F8A13F !default;
$brand-danger:                    #E84A5F !default;

// Form states and alerts
//## Define colors for form feedback states and, by default, alerts.
// -------------------------------

$state-success-text:              #3c763d !default;
$state-success-bg:                #dff0d8 !default;
$state-success-border:            darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-warning-text:              #c29c5a !default;
$state-warning-bg:                #fcf8e3 !default;
$state-warning-border:            darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:               #a94442 !default;
$state-danger-bg:                 #f2dede !default;
$state-danger-border:             darken(adjust-hue($state-danger-bg, -10), 5%) !default;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", "Roboto" sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $brand-primary !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-margin:                  15px !default;
$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;

// Icons
// -------------------------------

$icon-size:                       24px;
$icon-small-size:                 16px;
$icon-large-size:                 32px;

$pseudo-icon-size:                13px;
$pseudo-icon-small-size:          10px;

$icon-default-color:              #a8a8a8;

// Forms
// -------------------------------

$input-font-size:                 16px;
$input-bg:                        #fff !default;
$input-bg-disabled:               #f8f8f8 !default;

$input-border-color:              #ddd !default;
$input-label-color:               $dark !default;
$input-color-placeholder:         lighten($dark, 40%) !default;


// Buttons
// -------------------------------

$button-block-margin:             10px !default;
$button-border-radius:            4px !default;
$button-border-width:             1px !default;

$button-font-size:                16px !default;
$button-height:                   42px !default;
$button-padding:                  8px !default;

$button-small-font-size:          12px !default;
$button-small-height:             28px !default;
$button-small-padding:            4px !default;

$button-default-bg:               #fff !default;
$button-default-border:           #ddd !default;
$button-default-text:             #444 !default;

$button-primary-bg:               $brand-primary !default;
$button-primary-border:           $brand-primary !default;
$button-primary-text:             #fff !default;

$button-success-bg:               $brand-success !default;
$button-success-border:           $brand-success !default;
$button-success-text:             #fff !default;

$button-warning-bg:               $brand-warning !default;
$button-warning-border:           $brand-warning !default;
$button-warning-text:             #fff !default;

$button-danger-bg:                $brand-danger !default;
$button-danger-border:            $brand-danger !default;
$button-danger-text:              #fff !default;


// Bars
// -------------------------------

$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-transparency:                1 !default;

$bar-default-bg:                  rgba(#fff, $bar-transparency) !default;
$bar-default-text:                #444 !default;
$bar-default-border:              #ddd !default;
$bar-default-active-bg:           #fafafa !default;
$bar-default-active-border:       #ccc !default;

$bar-transparent-bg:             rgba(#fff, 0.8) !default;

// Tabs
// -------------------------------

$tabs-height:                     33px;
$tabs-text-font-size:             14px !default;
$tabs-text-font-size-side-icon:   10px !default;


// Items
// -------------------------------

$item-font-size:                  16px !default;
$item-border-width:               1px !default;
$item-padding:                    10px !default;

$item-button-font-size:           14px !default;
$item-button-line-height:         28px !default;
$item-icon-font-size:             32px !default;
$item-icon-fill-font-size:        28px !default;

$item-chevron-width:              15px !default;

$item-avatar-width:               40px !default;
$item-avatar-height:              40px !default;

$item-thumbnail-width:            80px !default;
$item-thumbnail-height:           80px !default;

$item-divider-bg:                 #f5f5f5 !default;
$item-divider-color:              #777 !default;
$item-divider-padding:            5px 15px !default;

$item-default-bg:                 #fff !default;
$item-default-border:             #efefef !default;
$item-default-text:               #444 !default;
$item-default-active-bg:          #f9f9f9 !default;
$item-default-active-border:      #eee !default;


// Lists
// -------------------------------

$list-header-bg:                  transparent !default;
$list-header-color:               #222 !default;
$list-header-padding:             5px 15px !default;
$list-header-margin-top:          20px !default;


// List groups
// -------------------------------

$list-group-label-default:        52px;
$list-group-label-wide:           70px;
$list-group-label-wider:          90px;


// Z-Indexes
// -------------------------------

$z-index-bar:                     10 !default;
$z-index-item:                    2 !default;
$z-index-item-checkbox:           3 !default;
$z-index-item-drag:               0 !default;
$z-index-item-edit:               0 !default;
$z-index-item-options:            1 !default;
$z-index-item-radio:              3 !default;
$z-index-item-reordering:         9 !default;
$z-index-item-toggle:             3 !default;
$z-index-menu:                    0 !default;
$z-index-modal:                   100 !default;
$z-index-pane:                    1 !default;
$z-index-popup:                   11 !default;
$z-index-popup-backdrop:          10 !default;
$z-index-scroll-bar:              9999 !default;
$z-index-tabs:                    5 !default;
$z-index-view:                    1 !default;
$z-index-backdrop:                99 !default;
$z-index-dropdown:                10 !default;
$z-index-dropdown-backdrop:       9 !default;


