// Icons Variables
// --------------------------

$iconfont-font-path: "../fonts" !default;
$iconfont-font-family: "iconfont" !default;
$iconfont-font-color: #adadad;
$iconfont-prefix: iconfont- !default;

$iconfont-var-add: "\e617";
$iconfont-var-address-book: "\e632";
$iconfont-var-arrow-left: "\e617";
$iconfont-var-bank-card: "\e602";
$iconfont-var-calendar: "\343a";
$iconfont-var-camera: "\e63d";
$iconfont-var-chevron-down: "\e661";
$iconfont-var-chevron-left: "\e679";
$iconfont-var-chevron-right: "\e6a3";
$iconfont-var-chevron-up: "\e6de";
$iconfont-var-check: "\e645";
$iconfont-var-check-fill: "\e656";
$iconfont-var-check-round: "\e657";
$iconfont-var-close: "\e646";
$iconfont-var-comment: "\e638";
$iconfont-var-globe: "\3447";
$iconfont-var-lock: "\e640";
$iconfont-var-map-mark: "\e650";
$iconfont-var-more: "\e6a5";
$iconfont-var-phone: "\e615";
$iconfont-var-plus: "\e6da";
$iconfont-var-question-mark: "\e690";
$iconfont-var-scan: "\e689";
$iconfont-var-share: "\f000b";
$iconfont-var-refresh: "\e684";
$iconfont-var-trash: "\f0045";
$iconfont-var-user: "\e60c";
$iconfont-var-verify-code: "\e616";
$iconfont-var-wifi: "\e626";